/*
印刷設定
スクロールで隠れている部分も印刷対象とする
 */
@media print {
    body {
        overflow: visible !important;
    }
    .leftBlock {
        height: auto !important;
        overflow: visible !important;
        color: black !important;
    }
    .rightBlock {
        height: auto !important;
        overflow: visible !important;
    }
    .historyTitle {
        text-decoration: underline !important;
        color: mediumpurple !important;
    }
    .strong {
        color: teal !important;
    }
    a {
        color: blue !important;
    }
}

/* base, smartPhone スタイル */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    position: relative;
    min-width: 300px;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    margin: 5px 0;
}

main {
    width: 100%;
    height: 100vh;
}

/*
colors
グリーン系：#00ffe1, teal
イエロー系：#ab9912,
}
*/
a {
    color: #00ffe1;
}

.strong {
    color: #00ffe1;
    font-weight: 900;
}
.detailTitle {
    color: teal;
    font-weight: bold
}


.leftBlock {
    width: 100%;
    min-width: 270px;
    text-align: center;
    background: rgb(58, 58, 58);
    color: aliceblue;
    overflow-y: scroll;
}

.lastUpdate {
    text-align: right;
    margin: 20px;
}
.lastUpdate > p {
    font-size: 10px;
}

.imageBlock {
    width: 160px;
    height: 160px;
    margin: 20px auto;
    border-radius: 50%;
    text-align: center;
    background: #ab9912;
}
.imageBlock > .myImage {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    margin: 2px 0 0 -6px;
}

.myName {
    margin-bottom: 20px;
}

.age {
    margin-left: 20px;
}

.leftContents {
    width: 80%;
    margin: 0 auto 30px;
    text-align: left;
}
.leftContents > p {
    margin: 0;
}

.characterContents {
    margin-bottom: 20px;
}

.leftContents > hr,
.characterWindow > .contents > p {
    width: 100%;
    margin: 5px 0 5px 0;
}

.characterButton {
    width: 150px;
    height: 40px;
    font-weight: 600;
}
.characterButton:hover {
    background: rgb(0, 180, 180);
    border-radius: 5px;
    cursor: pointer;
}

.rightBlock {
    width: 100%;
    overflow-y: scroll;
    background: rgb(215, 215, 215);
}

.history {
    width: 100%;
}

.historyTitle {
    width: 85%;
    margin: 40px auto 0;
    padding: 10px;
    background: rgb(58, 58, 58);
    color: aliceblue;
    border-radius: 10px 0 10px 0;
    font-size: 20px;
}
.historyDetail {
    margin: 20px 30px;
}
.jobContent {
    font-weight: 800;
}
.jobContent {
    margin-top: 30px;
}
.jobContent > .jobContentTitle {
    border-bottom: black 1px solid;
}
.jobContent > div > p {
    margin: 0px;
    font-weight: normal;
}

.backFilter {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.796);
}

.characterWindow {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    min-height: 300px;
    background: rgb(215, 215, 215);
    border: rgb(140, 140, 140) 8px solid;
    box-shadow: 3px 3px 8px;
    border-radius: 10px;
}
.characterWindow > .contents {
    overflow-y: scroll;
    height: 85%;
    margin: 15px;
}
.characterWindow > .contents > h3 {
    margin-bottom: 0;
}
.characterWindow > .contents > h4 {
    margin-bottom: 0;
}
.characterWindow > .contents > p {
    width: 95%;
    font-size: 14px;
    margin: 0 0 0 14px;
}

.characterClose {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 15%;
}
.characterClose > input {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 120px;
    height: 30px;
    font-weight: 600;
}
.characterClose > input:hover {
    background: rgb(0, 180, 180);
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 599px) {
    .leftBlock::-webkit-scrollbar,
    .rightBlock::-webkit-scrollbar {
        display: none;
    }
}

/* PC 用スタイル */
@media (min-width: 600px) {
    main {
        display: flex;
    }

    .leftBlock {
        width: 30%;
    }

    .rightBlock {
        width: 70%;
    }

    .historyTitle {
        width: 92%;
    }
}
